/* Skills Section Styling */
  
  .skill-card {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  .skills-container {
    border-radius: 10px; /* Adjust the radius as needed */
    padding: 50px; /* Space around the container content */
    background-color: #677D6A; /* Optional: semi-transparent background */
    margin-bottom: 30px;

  }
  